@charset "utf-8";
body{
    background-color:gray;/*背景色を変える*/
}
h1{
    font-size:1.75em;
    color:aquamarine;
}
h1 span{
    color:mediumslateblue;
}
h2{
    font-size:1.25em;
    color:gray;
}
p{
    font-size:0.8em;
    background-color:	#57A7D5;/*段落の文字の背景だけ変える*/
    color:mediumslateblue;
}
#chris{
    border-top:#eaffe6 1px dotted;
    text-align:center;
}
li{
    font-size:0.8em;
    color:#ffccd5;
}
